.helper {
	display: none;
	flex-direction: column;
	width: 20px;
	height: 20px;
	overflow: hidden;
	position: absolute;
	background-color: #00000075;
	pointer-events: none;
	color: #fff;
	font-family: "Consolas", monospace;
	font-size: 9px;
}