@import url(log.css);

:root {
	--background-color: #1a1d21;
	--border-color: #555;
	--canvas-color: #15171a;
}

body {
	display: flex;
	height: 100vh;
	margin: 0;
	background-color: var(--background-color);
}

.container {
	display: flex;
	width: 50%;
}
.container.canvas {
	justify-content: center;
	align-items: center;
}

#debug {
	flex-grow: 1;
	padding: var(--font-size);
	overflow-y: scroll;
}

#canvas {
	background-color: var(--canvas-color);
	image-rendering: pixelated;
}

@media screen and (max-width: 1000px) {
	body {flex-direction: column}

	.container {
		width: auto;
		height: 50%;
	}
	.container.debug {border-bottom: 1px solid var(--border-color)}
}